html,body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0);
    color: rgb(204,204,204);
    font-family: monospace;
}

.container {
    display: flex;
    flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
    margin-bottom: 5px;
    text-decoration: underline;
    font-size: 12px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
font-family: monospace;
}

 .click {
    top: 50%;
    left: 50%;
    font-size: 9px;
    color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:monospace;
  }

  .pronouns {
    margin-bottom: 2px;
  }
  

    a {
  margin-top: 6px;
  font-size: 12px;
  color: #474747;
  text-decoration: none;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

#pfp {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 30px;
}
